doctype 5
html(lang="en")
    head
        title Cupd Dashboard
        link(rel="stylesheet", type="text/css", href="/stylesheets/"+style+".css")
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(type="text/javascript", src="/javascripts/"+dashlayout+".js")
        script(type="text/javascript", src="/javascripts/dashboard.js")
    body
        div(id="banner")
            h1 Dashboard
        div(id="dashboard")
