%head
  %title Cupd &bull; Dashboard
  %link{rel: 'stylesheet', href: '/dashboard.css'}

  %script{type: "text/javascript"}
    var WEBSOCKET_SERVER = "#{websocket_uri}";
    

  %script{type: "text/javascript", src: "/jquery-1.4.2.min.js"}
  %script{type: "text/javascript", src: "/cupd_client.js"}
%body
