html {
    padding: 0px;
    margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(http://f.cl.ly/items/0i3J2b0w123k3P0d0r3u/ios-linen.jpg);
}

a {
  color: #00B7FF;
}

#banner {
    background-color: rgba(255,255,255,0.3);
    color: #333;
    margin-bottom: 1em;
}

#banner h1 {
    margin: 0px;
    padding: 8px;
}

#dashboard div.widget {
    border: 10px solid rgba(0,0,0, 0.35);
    background-color: rgba(255,255,255,0.85);
    border-radius: 8px;
    float: left;
    padding: 10px;
    margin: 15px;
    box-shadow: 3px 3px 20px #000;
}

#banner h1 {
    float: left;
}

#banner #options {
    float: right;
    position: relative;
    top: 0.5em;
    opacity: 0.5;
}

#banner #options:hover {
    opacity: 1;
}

#banner {
    min-height: 4em;
}
