body{
    font-family: Helvetica, sans-serif;
    background: #222;
}

.fail {
    width: 100%;
    background-color: rgb(160,0,0);
    color: white;
    text-align: center;
    padding: 20px;
}

.wrapper {
    border: 1px solid rgb(128, 128, 122);
    margin: 5px;
    background-color: #282828;
    color: white;
}

.wrapper .title {
    display: block;
    padding: 3px;
}

.widget {
    background: #333;
    padding: 5px;
}
